body{
    background-color: #1F2937;
    margin-left: 150px;
    margin-right: 150px;

}




.header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    
   

}
.logo{

    font-size: 24px;
    font-weight: extra-bold;
    color: #F9FAF8;

}
.lines{
    font-size: 18px;
    color: #e5e7eb;
    

}

h1{

    


}