body{
    background-color: #1F2937;
    margin: auto;

}
h1{
    background-color: #1F2937;


}

.header{
    display:flex;
    justify-content: space-between;
    align-items: center;
   

}
.logo{

    font-size: 24px;
    font-weight: extra-bold;
    color: #F9FAF8;

}
.lines{
    font-size: 18px;
    color: #e5e7eb

}
.name{
    FONT-SIZE: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    background-color: #1f2937;

}

img{

    height:100px;
    width:100px;
}

.parentrandom{
    background-color: white;

}

.colorgrey{

    background-color: #e5e7eb;
}


button{
    background-color: #3882f6;

}
.parentfooter{
    background-color: #3882f6;

}
